$primary-color: #000; 
$background-color: #FFF; 
$banner-color:#211c24;
$grey-color:#fafafad5; 
$second-color: #0c0c0cdc;

.wp-block-group__inner-container {
  width: 80%;
  margin:auto;
 .wp-block-image.size-large
 img{
  object-fit: cover;
  width: 100%; 
  height: 100%; 
 }
 
 #category-specific {
   display: flex;
   justify-content: center;
   background-color: $grey-color;
   
   img {
    object-fit: cover;
     width: auto;
     height: auto;
   }
 }


 #small-banner{
   display: flex;
   justify-content: center;

   img {
      object-fit: cover;
    }
 }

 .overlay-link {
  display: block;
  background: transparent; 
  cursor: pointer; 
}
}
