.summary.entry-summary{
    .woocommerce-Price-amount.amount{  
        color: black;
        font-weight: bold;
    }
    .woocommerce-product-details__short-description{
        margin-top:20px;
        margin-bottom:20px;
    }
    .quantity{
        display:none;
    }
    .single_add_to_cart_button.button{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        width: 180px;   
        height: 56;
        border-radius: 6px;
        padding: 16px, 56px;
        margin-bottom: -20px;
    }
    .single_add_to_cart_button.button:hover{
        background-color: black;
    }
    .yith-wcwl-add-to-wishlist{
        display: flex;
        border: 1px solid black;
        justify-content: center;
        width: 180px;   
        height: 56;
        border-radius: 6px;
        margin-bottom: 40px;
    }
}

